body{
    background-color: #c54927;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}
main{
    background-color: #f7b4ad;
    text-align: center;
}
h1{
    text-align: center;
    color: black;
    text-decoration: none;
}
header a{
    text-decoration: none;
}
header nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav a{
    padding: 2%;
    background-color: #f7b4ad;
    display: inline-block;
    text-decoration: none;
    color: black;
}
input[type=search]{
    position: absolute;
    right: 0%;
    margin: 1rem;
    background-color: #f7b4ad;
}
header{
    position: relative;
    padding-bottom: 2rem;
}
.recipes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recipe{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recipes a{
    color: black;
    text-decoration: none;
    padding: 4rem;
    background-color: #a3bbce;
    margin: 3rem;
}
.recipe a{
    color: black;
    text-decoration: none;
    padding: 4rem;
    background-color: #a3bbce;
    margin: 3rem;
}
@media (max-width:630px){
    .recipes, .recipe{
        flex-direction: column;
    }
}
.blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.blog a{
    color: black;
    text-decoration: none;
    padding: 4rem;
    background-color: #a3bbce;
    margin: 3rem;
}
.blogs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.blogs a{
    color: black;
    text-decoration: none;
    padding: 4rem;
    background-color: #a3bbce;
    margin: 3rem;
}
@media (max-width:630px){
    .blogs, .blog{
        flex-direction: column;
    }
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info a{
    color: black;
    text-decoration: none;
    padding: 4rem;
    background-color: #a3bbce;
    margin: 3rem;
}
@media (max-width:630px){
    .info{
        flex-direction: column;
    }
}
.contact{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 3.5rem;
    gap: 2.5rem;
    background-color: #a3bbce;
    max-width: 100%;
    width: 21rem;
    margin: 2rem auto;
}
input[type=text]{
    width: 10rem;
    max-width: 100%;
}
.titles img{
    padding: 1rem;
}
.tips{
    text-align: center;
    width: 20rem;
    margin: auto;
    padding: 3rem;
    background-color: #a3bbce;
    margin-top: 2rem;
}
.tools{
    text-align: center;
    width: 20rem;
    margin: auto;
    padding: 3rem;
    background-color: #a3bbce;
    margin-top: 2rem;
}
.tricks{
    text-align: center;
    width: 20rem;
    margin: auto;
    padding: 3rem;
    background-color: #a3bbce;
    margin-top: 2rem;
}
.ingredients{
    text-align: center;
    width: 20rem;
    margin: auto;
    padding: 3rem;
    background-color: #a3bbce;
    margin-top: 2rem;
}
footer{
    margin: 1rem;
}
.social a{
padding: .5rem;
}
.yogurt{
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}
.berry h2{
padding: 1rem;
}
.salad{
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}
.mango-avocado h2{
    padding: 1rem;
}
.nuts{
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}
.nuts-fruit h2{
    padding: 1rem;
}
.pasta{
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}
.pasta-healthy h2{
    padding: 1rem;
}
.new{
    text-align: center;
    width: 20rem;
    margin: auto;
    padding: 3rem;
    background-color: #a3bbce;
}
.faq{
    text-align: center;
    width: 20rem;
    margin: auto;
    padding: 3rem;
    background-color: #a3bbce;
    margin-top: 2rem;
}
.news{
    text-align: center;
    width: 20rem;
    margin: auto;
    background-color: #a3bbce;
    padding: 2rem;
}
.why{
    width: 20rem;
    margin: auto;
    background-color: #a3bbce;
    padding: 2rem;
}
.who{
    width: 20rem;
    margin: auto;
    background-color: #a3bbce;
    margin-top: 2rem;
    padding: 2rem;
}
.goal{
    width: 20rem;
    margin: auto;
    background-color: #a3bbce;
    margin-top: 2rem;
    padding: 2rem;
}
@media (max-width:630px){
    .why, .who, .goal{
        flex-direction: column;
    }
}
.home p{
    margin-top: 2rem;
    width: 20rem;
    margin: auto;
    background-color: #a3bbce;
    padding: 2rem;
}
.home{
    display: flex;
    flex-direction: row;
}
.home-img{
    padding: 1rem;
}